#tm_builder_outer_content {
  .tm_pb_counters {
    .tm_pb_counter_amount {
      padding: 1px 6px;
    }
    .tm_pb_counter_title {
      margin-bottom: 2px;
    }
    .tm_pb_counter_container {
      margin-bottom: 22px;
    }
  }
}
