.site-footer.default {

	.footer-container {
		text-align: center;
		@include media-breakpoint-up(md) {
			padding-top: 88px;
			padding-bottom: 22px;
		}
	}

	.footer-logo {
		margin-bottom: 27px;
	}

	.social-list {
		margin-bottom: 42px;
	}
}